
  .main-container {
    display: flex;
    position: absolute;
    height: 92vh;
    align-items: center;
    flex-direction: column;
  }

  .main-album {
    overflow: scroll;
    display: flex;
    max-width: 80%;
    height: 85%;
    z-index: 5;
  }
  .main-album::-webkit-scrollbar {
    display: none;
  }