.photo-icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.likes{
  display: flex;
  width: 40%;
  justify-content: space-evenly;
  color: grey;
}

.bin {
  padding: 5px;
}

.favourite-icon {
  padding: 5px;
}
.bin img {
  cursor: pointer;
}

img{
  
}